<div class='header'>
  <div class='row'>
    <div class='col-1'>
      <div routerLink='/'class='logo'></div>
    </div>
    <div class='col-7 ml-5 user-wrap-start'>
      <span>
        <a routerLink='information'>Informații</a>
      </span>
    </div>
    <div class='col-7 ml-5 user-wrap-start'>
      <span>
        <a routerLink='persons'>Persoane</a>
      </span>
    </div>
    <div class='col-7 ml-5 user-wrap-start'>
      <span>
        <a routerLink='car'>Masini</a>
      </span>
    </div>
  </div>
</div>
